body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fond);
}

main {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    padding: 10px 0;

    background: transparent;
    pointer-events: none;
    z-index: 999;
}
.site-footer {
    background-color: transparent;
    height: 0px;
}
.footer-pill {
    pointer-events: auto;
    display: flex;
    gap: 10px;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 1px 2px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

footer img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.logo:hover,
.insta:hover {
    transform: scale(1.08);
    transition: transform 0.18s ease;
}
